
# Python

__pycache__/
*.py[cod]
*.log


# Ambiente virtual e variáveis

venv/
.env


# Docker

*.tar
*.tar.gz


# Banco de dados local

*.db


# Testes e coverage

.coverage
htmlcov/
.pytest_cache/


# IDEs e sistema

.vscode/
.idea/
.DS_Store


# Arquivos temporários

*.tmp
*.bak
*.swp
